<div class="container">
	<div class="row">
		<div class="col-lg-8 col-centered">
			<form action="/profiles/new/<%= profile._id || "" %>" method="POST">
				<div class="input-group">
					<span class="input-group-addon">First Name</span>
					<input class="form-control" type="text" name="firstName" placeholder="First Name" Required value=<%= profile.firstName %> >
				</div>
				<div class="input-group">
					<span class="input-group-addon">Last Name</span>
					<input class="form-control" type="text" name="lastName" placeholder="Last Name" value=<%= profile.lastName %>>
				</div>
				<div class="input-group">
					<span class="input-group-addon">Gender</span>
					<input class="form-control" type="text" name="gender" placeholder="Gender" value=<%= profile.gender %>>
					<span class="input-group-addon">Birthday</span>
					<input class="form-control" type="date" name="birthday" placeholder="Birthday" value=<%= profile.birthday %>>
				</div>
				<div class="input-group">
					<span class="input-group-addon">City</span>
					<input class="form-control" type="text" name="city" placeholder="City" value=<%= profile.city %>>
					<span class="input-group-addon">State</span>
					<input class="form-control" type="text" name="state" placeholder="State" value=<%= profile.state %>>
					<span class="input-group-addon">Zip</span>
					<input class="form-control" type="text" name="zip" placeholder="zip" value=<%= profile.zip %>>
				</div>
				<div class="row">
					<div class="col-lg-1">
						<button id="ethnicitiesInput" class="form-control" type="button" onclick="addEthnicityInput()">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1">

				<button id="skillsInput" class="form-control" type="button" onclick="addSkillInput()">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1">
				<button id="filmsInput" class="form-control" type="button" onclick="addFilmInput()">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1">
				<button id="phonesInput" class="form-control" type="button" onclick="addPhoneInput()">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1">
				<button id="emailsInput" class="form-control" type="button" onclick="addEmailInput()">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1">
				<button id="headshotsInput" class="form-control" type="button" onclick="addHeadshotInput()">+</button>
					</div>
				</div>
				<button>Submit</button>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="/scripts/main.js"></script>
<script>
	<% if (profile.ethnicities && profile.ethnicities.length > 0) { %>
		<% profile.ethnicities.forEach((ethnicity) => { %>
			addEthnicityInput("<%= ethnicity %>");
		<% }); %>
	<% }; %>
	<% if (profile.skills && profile.skills.length > 0) { %>
	   <% profile.skills.forEach((skill) => { %>
	   	addSkillInput("<%= skill %>");
	   <% }); %>
	<% }; %>
	<% if (profile.filmography && profile.filmography.length > 0) { %>
	   <% profile.filmography.forEach((film) => { %>
	   	addFilmInput("<%= film %>");
	   <% }); %>
	<% }; %>
	<% if (profile.phoneNumbers && profile.phoneTypes && profile.phoneNumbers.length > 0 && profile.phoneTypes.length > 0) { %>
	   <% for (var i = 0; i < profile.phoneNumbers.length; i++) { %>
	   	addPhoneInput("<%= profile.phoneNumbers[i] %>", "<%= profile.phoneTypes[i] %>");
	  	<% }; %>
	<% }; %>
	<% if (profile.emails && profile.emails.length > 0) { %>
	  	<% profile.emails.forEach((email) => { %>
	  		addEmailInput("<%= email %>");
		<% }); %>
	<% }; %>
	<% if (profile.headshots && profile.headshots.length > 0) { %>
	  	<% profile.headshots.forEach((headshot) => { %>
	  		addHeadshotInput("<%= headshot %>");
	  	<% }); %>
	<% }; %>
</script>